github "ZipArchive/ZipArchive"
github "cxa/MenuItemKit"
github "alexpopov/ZFDragableModalTransition" "merge-carthage-into-zoonooz"
github "tadija/AEXML"
github "ArtSabintsev/FontBlaster"
github "realm/realm-cocoa" 
github " mxcl/PromiseKit"